<h1>New Player</h1>

<div class="container">
  <form action="/new_game" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="pyecfZxy5Ed/goWXepuRMQfiruv7j2pSd/3w2JqKl0x1PHE07E/ngP6eD/AgaiC7rVUN3y1xncbq0rA5DMUFFQ==">

    <div class="field">
      <label for="player_firstname">Firstname</label>
      <input type="text" value="Ryann" name="player[firstname]" id="player_firstname">
    </div>

    <div class="field">
      <label for="player_position">Position</label>
      <input disabled="disabled" type="number" value="0" name="player[position]" id="player_position">
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="New Game" data-disable-with="New Game">
    </div>
  </form>
</div>

<%= link_to 'Back', game_players_path %>
