<!DOCTYPE html>
<html>
  <head>
    <title>Werewolf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class=" scroll"></div>
    <div class="container">
      <div class="doc">
        <div class="row title">
          <h1>werewolf</h1>
        </div>
        <div class="row">
          <div class="col col-md-4"></div>
          <div class="col col-md-4">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
